.toolbar {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
  padding: 10px; 
  background-color: navy; 
  color: blanchedalmond; 
  border-radius: 8px; 
}
.toolbar button {
  background-color: gray; 
  color: white;
  border: none; 
  margin: 0 5px;
  border-radius: 4px; 
  cursor: pointer; 
  transition: background-color 0.2s; 
}
.toolbar button:hover {
  background-color: #1c86ee;
}